In [42]:
# Declare a list of high schools.
#high_schools=["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
# Iterate through list and print out each high school name.
#for school in high_schools:
    #print(school)

In [43]:
# Declare a dictionary of high schools and the type of school.
#high_school_types=[{"High School": "Griffin", "Type":"District"},
                 # {"High School": "Figueroa", "Type": "District"},
                  #{"High School": "Wilson", "Type": "Charter"},
                  #{"High School": "Wright", "Type": "Carter"}]
# Iterate through list and print out each high school name and their types.
#for school in high_school_types:
    #print (school)

In [42]:
# Declare a list of high schools.
#high_schools= ["Huang High School", "Figeroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Rodriguuez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [43]:
# Import Pandas dependency.
import pandas as pd

In [44]:
# Assign a variable and create a Pandas Series form list of high schools.
school_series=pd.Series(high_schools)
school_series

0          Huang High School
1        Figeroa High School
2        Shelton High School
3      Hernandez High School
4        Griffin High School
5        Cabrera High School
6         Bailey High School
7         Holden High School
8           Pena High School
9     Rodriguuez High School
10       Johnson High School
11          Ford High School
12        Thomas High School
dtype: object

In [45]:
# Iterate through school series and print each high school.
#for school in school_series:
    #print(school)

In [46]:
# Declare a dictionary of high schools and the type of school.
#high_school_dicts=[{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                  #{"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                  #{"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                  #{"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                  #{"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [47]:
# Assign a variable and create a Pandas DataFrame from high_school_dicts.
#school_df=pd.DataFrame(high_school_dicts)
#school_df

In [52]:
# Converting a Series to a DataFrame.
# Declare three seperate lists/Series of information on high schools.
school_id=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_name=["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguuez High School", "Johnson High School", "Ford High School", "Thomas High School"]
type_of_school=["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "Distcrict", "Charter", "charter", "Charter", "District", "District", "District", "Charter"]

In [53]:
# Initialize a new DataFrame.
schools_df=pd.DataFrame()

In [56]:
# Add the Series to schools_df.
schools_df["school ID"]=school_id
schools_df["School Name"]=school_name
schools_df["Type"]=type_of_school
# Print the DataFrame.
#schools_df

In [63]:
# Aletrnative metod.
# Declare a dictionary of information on high schools.
high_schools_dict={'School ID':school_id, 'School Name':school_name, 'Type':type_of_school}
# Initialize new DataFrame.
schools_dict_df=pd.DataFrame()
# Add dictionary to schools_dict_df
schools_dict_df=pd.DataFrame(high_schools_dict)
schools_dict_df

    School ID             School Name       Type
0           0       Huang High School   District
1           1    Figueroa High School   District
2           2     Shelton High School    Charter
3           3   Hernandez High School   District
4           4     Griffin High School    Charter
5           5      Wilson High School    Charter
6           6     Cabrera High School    Charter
7           7      Bailey High School  Distcrict
8           8      Holden High School    Charter
9           9        Pena High School    charter
10         10      Wright High School    Charter
11         11  Rodriguuez High School   District
12         12     Johnson High School   District
13         13        Ford High School   District
14         14      Thomas High School    Charter

In [64]:
schools_df.columns

Index(['school ID', 'School Name', 'Type'], dtype='object')

In [65]:
schools_df.index

RangeIndex(start=0, stop=15, step=1)

In [66]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter'],
       [5, 'Wilson High School', 'Charter'],
       [6, 'Cabrera High School', 'Charter'],
       [7, 'Bailey High School', 'Distcrict'],
       [8, 'Holden High School', 'Charter'],
       [9, 'Pena High School', 'charter'],
       [10, 'Wright High School', 'Charter'],
       [11, 'Rodriguuez High School', 'District'],
       [12, 'Johnson High School', 'District'],
       [13, 'Ford High School', 'District'],
       [14, 'Thomas High School', 'Charter']], dtype=object)