In [14]:
# Import Pandas library as a dependency.
import pandas as pd
# Import os module to upload csv files via inderect path.
import os

In [2]:
# Assign variables for files to load via indirect path.
school_data_to_load=os.path.join("Resources", "schools_complete.csv")
student_data_to_load=os.path.join("Resources", "students_complete.csv")

In [7]:
# Read school data file and store it in a Pandas DataFrame.
school_data_df=pd.read_csv(school_data_to_load)
#school_data_df.head()

In [8]:
# Read student data file and store it in a Pandas DataFrame.
student_data_df=pd.read_csv(student_data_to_load)
#student_data_df.head()

In [10]:
# Cleaning Student Names and Replacing Substrings in a Python String.
# Declare prefixes_suffixes list.
prefixes_suffixes=["Dr. ", "Mr. ", "Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
# Iterate through prefixes_suffixes list.
for word in prefixes_suffixes:
    # Replace prefixes_suffixes with "".
    student_data_df["student_name"]=student_data_df["student_name"].str.replace(word, "")
#student_data_df.head(10)

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys

In [ ]:
# Deliverable 1: Replace reading and math scores.
# Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [11]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [18]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
# Set school name to Thomas High School.
student_data_df["school_name"]=="Thomas High School"
# Set grade to 9th garde
student_data_df["grade"]=="9th"
# Select reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School")&(student_data_df["grade"]=="9th"), "reading_score"]=np.nan
#student_data_df

In [20]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
# Select math scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df["school_name"]=="Thomas High School")&(student_data_df["grade"]=="9th"), "math_score"]=np.nan
#student_data_df

In [23]:
#  Step 4. Check the student data for NaN's. 
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89.0,86.0
39161,39161,April Reyes,F,10th,Thomas High School,70.0,84.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94.0,77.0
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,NaN,NaN
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [ ]:
#Deliverable 2 : Repeat the school district analysis
#District Summary